.meta-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;


    .meta {
        background-color: #f5f5f5;
        border-radius: 4px;
        font-size: 0.8rem;
        padding: 20px;
        margin: 8px;

        h3, h4, h5 {
            margin: 0;
        }

        .content {
            margin-top: 6px;

            &.center {
                text-align: center;
            }
        }
    }

    @media (max-width: $container-width * 0.75) {
        flex-direction: column;
        .meta {
            height: auto;
        }
    }

    .print-recipe {
        cursor: pointer;

        @media print {
            display: none;
        }
    }
}

.recipe-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .equipment-ingredients {
        flex-basis: calc(40% - 20px);
        padding: 10px;
    }

    .directions {
        flex-basis: calc(60% - 20px);
        padding: 10px;

        li.break {
            display: block;
            font-style: italic;
            color: #666666;
            margin-left: 4px;
        }

        ol.sub-direction {
            margin-left: 1.25rem;
        }
    }

    .notes {
        flex-basis: calc(100% - 20px);
        padding: 10px;
    }

    .mobile-only-hr {
        display: none;
    }

    @media (max-width: $container-width) {
        flex-direction: column;
        > {
            flex-basis: unset;
        }

        .mobile-only-hr {
            display: block;
        }

        .meta > ul {
            flex-direction: column;

            > li {
                flex-basis: unset;
            }
        }
    }
}

.disqus {
    @media print {
        display: none;
    }
}